:root{
   //Primary

    --pblue: hsl(225, 100%, 94%);
    --bblue: hsl(245, 75%, 52%);
    
   // Neutral
    
    --vpblue: hsl(225, 100%, 98%);
    --dsblue: hsl(224, 23%, 55%);
    --dblue: hsl(223, 47%, 23%);

    //Font

    --rhd-font: 'Red Hat Display', sans-serif;
    --fw-500: 500;
    --fw-700: 700;
    --fw-900: 900;
}



html{
    box-sizing: border-box;
}

img{
    width: 100%;
    object-fit: cover;
}

body{
    margin: 0;
    background-color: var(--pblue);
   background-image: url(./images/pattern-background-desktop.svg);
   background-repeat: no-repeat;
   background-size: contain;
  
   background-position: top center;
   font-family: var(--rhd-font);
}

*{
    margin: 0;
}



h1{
    margin-bottom: 1em;
    font-weight: bold;
    color: var(--dblue);
}

h2{
    font-size: 1rem;
    font-weight: 1000;
    color: var(--dblue);
}
p{
    color: var(--dsblue);
    font-weight: 500;
    letter-spacing: .03rem;
}

a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    letter-spacing: normal;
    font-size: .875rem;
    font-weight: var(--fw-900);
}

.btnA{
    margin-top: 2em;
    display: block;
    background-color: var(--bblue);
    color: white;
    letter-spacing: .05rem;
    padding: 1em 0;
    text-align: center;
    border-radius:10px;

    box-shadow: 0px 20px 30px  rgba($color:hsl(224, 23%, 55%), $alpha: .30);
}

.btnB{
    display: block;
    color: var(--dsblue);
    letter-spacing: .05rem;
    padding: 1em 0;
    border-radius:10px;
    margin-top: 2em;
}

section{
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.container{
    
    background-color: white;
    text-align: center;
    margin-inline: auto;
    width: 90%;
    max-width: 425px;
    overflow: hidden;
    border-radius: 25px;

    box-shadow: 0px 20px 30px  rgba($color: hsl(224, 23%, 55%), $alpha: .35);
}

.col1{
    flex-wrap: wrap;
}

.col2{
    padding:  2em 0;
    display: flex;
    flex-direction: column;
}


.cont{
    width: 85%;
    max-width: 350px;
    margin-inline: auto;
}

.plan{
    margin-top: 2em;
    border-radius: 10px;
    background-color: var(--vpblue);
    padding: 1em;

    p{
        font-size: .9rem;
    }

    .ch{
       font-size: .8rem;
       color: var(--bblue);
    }

    a{
        font-weight: bold;
        text-decoration: underline;
    }

    .aaack{
        display: flex;
        

        div{

            justify-content: flex-start;
            //border: 1px solid red;
            align-self: center;

            h4{
                margin-bottom: .5em;
            }
        }
    }

    .pls-work{
        display: flex;
        text-align: left;
        align-items: center; 
        justify-content: space-between;
      
    }
}


.music{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}


